version: '3.4'

services:
  db:
    image: postgres:15-alpine
    container_name: eims-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "12345"      
      POSTGRES_DB: EIMS_DB          
    ports:
      - "5432:5432"                 
    volumes:
      - pgdata:/var/lib/postgresql/data  
  eims.api:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    container_name: eims-api
    command: dotnet watch run --project EIMS.API --urls http://+:8080
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=EIMS_DB;Username=postgres;Password=12345;
      - Cloudinary__CloudName=${CLOUDINARY_NAME}
      - Cloudinary__ApiKey=${CLOUDINARY_KEY}
      - Cloudinary__ApiSecret=${CLOUDINARY_SECRET}
      - JwtSettings__Secret=${JWT_SECRET}
      - EmailSettings__ApiToken=${SENDGRID_KEY}
      - EmailSettings__FromEmail=${SENDGRID_FROM_EMAIL} 
      - EmailSettings__FromName=${SENDGRID_FROM_NAME}
    volumes:
      - .:/app 
    working_dir: /app
    ports:
      - "8000:8080"
    build:
      context: .
      dockerfile: EIMS.API/Dockerfile
volumes:
  pgdata: